$dark: #1f1f1f;
$grey: #383838;
$light-white: #ffffffbb;
$lighta-white: #ffffff99;
$lighter-white: #ffffff66;
$lightest-white: #ffffff33;
$blue-grey:#e6e7eb;
$white: #fff;
// $yellow: #ffae00;
$yellow: #337B68;
$cobalt:  #2190ff;
$blue: #0061b5;
$black: #000;