.empty{
	text-align: center;
	padding: 15vh 0;
	&-icon{
		fill: $grey;
	}
	&-text{
		line-height: 1.6em;
		color: $lighter-white;
	}
}


.expense{
    &-tile{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.5*$std-padding;
        border-radius: $std-padding;
		padding: 1.5*$std-padding 2*$std-padding;
        background-color: darken($grey,5%);
        &.false{
            &:hover{
                background-color: $grey;
            }
        }
        &.true{
            background-color: darken($grey,15%);
            border-color: 1px solid $black;
            .expense-details{
                opacity:0.5;
            }
        }
        &.full{
            width: 32%;
            margin-right:2%;
            margin-bottom: 2%;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    }
    &-group{
        border-bottom: 0.5px solid $grey;
        padding-bottom:1.5%;
        margin-top: 4%;
        &-title{
            margin-bottom:2.5%;
            font-size: 1.2em;
        }
    }

    .create{
        &-cta{
            width: 100%;
            padding: 12px 12px;
            font-family: inherit;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            border-radius: 6px;
            background-color: #ffae00;
        }
    }

    &-details{
        display: flex;
        align-items: center;
    }
    &-thumb{
        display: inline-block;
        padding: $std-padding;
        width: 6*$std-padding;
        height: 6*$std-padding;
        background-color: $white;
        border-radius: 100%;
        vertical-align: top;
        margin-right: 1.5*$std-padding;
        img{
            width: 100%;
        }
    }
    &-entity{
        display: block;
        text-transform: capitalize;
        font-size: 1.1em;
    }
    &-amount{
        display: block;
        color: $lighter-white;
        font-size: 0.9em;
        margin-top: 0.75*$std-padding;
    }
    &-status{
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.05s ease-in-out;
        padding: 0.5*$std-padding $std-padding;
        &.false{
            background-color: $lightest-white;
            color: $white;
        }
        &.true{
            color:limegreen;
        }
        &-action{
            vertical-align: middle;
            font-size: 0.7em;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
    }
}


.toggle{
    border: 0.5px solid $lighter-white;
    border-radius: 20px;
    position: relative;
    padding-top: 2px;
    &-option{
        display: inline-flex;
        position: relative;
        z-index: 1;
        padding: 0.75*$std-padding 1.2*$std-padding;
        cursor: pointer;
        &.true{
            .toggle-text{
                color: $white;
                font-weight: 500;
            }
        }
    }
    &-text{
        text-transform: uppercase;
        font-size: 0.7em;
        color: $lighta-white;
        letter-spacing: 0.5px;
    }
    &-selector{
        position:absolute;
        z-index: 0;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-color: $yellow;
        border-radius: 20px;
        transition: all 0.1s ease-in-out;
        &.true{
            left:0;
            width: 54%;
        }
    }
}


.create{
    &-cta{
        width: 100%;
        margin-top: 2*$std-padding;
        padding: 1.5*$std-padding;
        font-family: inherit;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 600;
        border-radius: 6px;
        background-color: $yellow;
        color: $white;
    }
}

.pop{
    &-layer{
        position: fixed;
        background: rgba($black,0.75);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        transition: all 0.08s ease-in-out;
    }
    &-modal{
        position: fixed;
        background-color: $white;
        color: $dark;
        width: 30%;
        top: 25%;
        left: 35%;
        right: 35%;
        max-height: 90%;
        overflow: scroll;
        border-radius: 1.25*$std-padding;
        padding: 2.5% 3%;
        z-index: 5;
    }
    &-title{
        margin-bottom: 8%;
        font-weight: 800;
        font-size: 1.6em;
        line-height: 1.2em;
        text-align: center;
        letter-spacing: -0.4px;
        text-transform: capitalize;
        color: $yellow;
    }
    &-form{
        font-family: inherit;
        &-date{
            color: $dark;
            font-family: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.1em;
            font-weight: 500;
            margin-bottom: 2*$std-padding;
            span{
                color: $grey;
                display: inline-block;
                font-size: 1rem;
                font-weight: 300;
                padding: $std-padding 1.2*$std-padding;
                background-color: $blue-grey;
                border-radius: 4px;
            }
        }
        &-select{
            color: $grey;
            font-family: inherit;
            width: 100%;
            padding: 1.25*$std-padding $std-padding;
            font-size: 1.1em;
            font-weight: 500;
            border-radius: 4px;
            margin-bottom: 2*$std-padding;
        }
        &-group{
            margin-bottom: 2*$std-padding;
            display: flex;
            justify-content: space-between;
        }
        &-name,&-amount{
            font-family: inherit;
            width: 43%;
            padding: 1.25*$std-padding $std-padding;
            font-size: 1.1em;
            font-weight: 300;
            border: 1px solid $grey;
            border-radius: 4px;

        }
        &-name{
            margin-right: 5%;
        }
        &-check{
            input{
                width: 2.5*$std-padding;
                height: 2.5*$std-padding;
                margin-right: $std-padding;
                vertical-align: bottom;
            }
        }
        &-cta{
            margin-top: 8%;
            width: 100%;
            padding: 1.5*$std-padding;
            border-radius: 6px;
            border: none;
            text-transform: uppercase;
            font-family: inherit;
            letter-spacing: 0.5px;
            background-color: $yellow;
            color: $white;
        }
    }
    &-meta{
        color: $grey;
        margin-bottom: 4.5%;
        span{
            display: inline-block;
            margin-right: 1.5%;
            max-width: 45ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: bottom;
        }
        span:not(:first-child){
            margin-left: 1.5%;
        }
    }
    &-detail{
        text-align: justify;
        font-size: 1.1em;
        line-height: 1.4em;
        figure{
            width: 100%;
            margin: 3% 0;
            iframe{
                width: 100%;
            }
            img{
                width: 100%;
                height: auto;
                border-radius: $std-padding;
            }
        }
    }
    &-close{
        position: fixed;
        top: calc(5% - 2*#{$std-padding});
        right: calc(25% - 2*#{$std-padding});
        background-color: $grey;
        width: 4*$std-padding;
        height: 4*$std-padding;
        border-radius: 100%;
        border: none;
        z-index: 4;
    }
    @media screen and (min-width: 700px) {
        &-modal{
            border-radius: 1.5*$std-padding;
        }
    }
}


.home{
    padding-top: 16vh;
    height: 100vh;
    background-color: $black;
    text-align: center;
    box-sizing: inherit;
    &-header{
        width: 70%;
        margin: 0 auto;
        font-size: 3.5em;
        font-weight: 800;
        color: $white;
        letter-spacing: -4px;
    }
    &-name{
        display: inline-block;
        font-size: 1.2em;
        margin-bottom: 3*$std-padding;
        padding: 2*$std-padding 2.5*$std-padding 1.5*$std-padding;
        border-radius: 2*$std-padding;
        background-color: $grey;
    }
    &-highlight{
        color: $cobalt;
    }
    &-cta{
        display: inline-block;
        background-color: $cobalt;
        padding: $std-padding 1.9*$std-padding;
        letter-spacing: -0.5px;
        color: $white;
        border: none;
        text-decoration: none;
        font-family: inherit;
        border-radius: 0.75*$std-padding;
        font-weight: 600;
        margin-top: 4*$std-padding;
        font-size: 1.25em;
        &:hover{
            background-color: darken($cobalt,7.5%);
        }
    }
    &-ps{
        width: 60%;
        margin: 2*$std-padding auto;
        font-size: 0.8em;
        line-height: 1.2em;
        color: $lighta-white;
    }
    @media screen and (min-width: 700px) {
        padding-top: 20vh;
        &-header{
            width: 60%;
            font-size: 5em;
        }
        &-name{
            padding: 3*$std-padding 4*$std-padding 1.5*$std-padding;
            border-radius: 2.5*$std-padding;
        }
        &-ps{
            width: 20%;
        }
    }
}